
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 44px;
}

#state-dropdown .select2-selection__arrow{
    height: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 44px;
}
.select2-selection__placeholder{
    margin-left: -23%;
}

.select2-container--default .select2-selection--single{
    height: 44px;
    border-radius: 0;
}

.state-dropdown{
    margin-bottom: 30px;
}