.guest_school{
    margin-top: 30px;
    margin-bottom: 100px;
}

.panel{
    border: 2px solid #e5e5e5;
}

.fa-star-o{
    font-size: 24px !important;
    margin-left: 50px;
}

.fa-star-o:hover{
    font-size: 26px !important;
    color: #f2994b !important;
}

.rank .fa-star{
    margin-left: 50px;
    font-size: 26px !important;
    color: #f2994b !important;
}
